/*** Feuille de style du site ***/

html, body, md-content {
	font-family: 'Noto Sans', 'Roboto', Arial, Helvetica, Geneva, SunSans-Regular, sans-serif;
}

md-toast {
	position: fixed!important;
}

md-button {
	font-weight: 900;
	cursor: pointer;
}

md-icon {
	cursor: pointer;
}

.md-card-round {
	border-radius: 10px;
}

.card-icon {
	margin: 0 10px;
}

.md-button-margin {
	margin: 10px!important;
}

.md-button-padding {
	padding: 2px 15px!important;
}

.md-fab {
	position: fixed;
	bottom: 15px;
	right: 15px;
}

.list-content:nth-child(even) {
	background-color: #efebe9;
}

.list-content:nth-child(odd) {
	background-color: #8d6e63;
}

.displayNone {
	display: none;
}

.displayBlock {
	display: block;
}

.floatLeft {
	float: left;
}

.floatRight {
	float: right;
}

.clear {
	clear: both;
}

.alignCenter {
	text-align: center!important;
}

.alignLeft {
	text-align: left!important;
}

.alignRight {
	text-align: right!important;
}

.font07em {
	font-size: 0.7em;
}

.font08em {
	font-size: 0.8em;
}

.font09em {
	font-size: 0.9em;
}

.font1em {
	font-size: 1em;
}

.font12em {
	font-size: 1.2em;
}

.font13em {
	font-size: 1.3em;
}

.font14em {
	font-size: 1.4em;
}

.font15em {
	font-size: 1.5em;
}

.font16em {
	font-size: 1.6em;
}

.font17em {
	font-size: 1.7em;
}

.font18em {
	font-size: 1.8em;
}

.font19em {
	font-size: 1.9em;
}

.font2em {
	font-size: 2em;
}

.fontWhite {
	color: #FFFFFF!important;
}

.fontBlack {
	color: #777777!important;
}

.fontPrimary {
	color: #6d4c41!important;
}

.fontAccent {
	color: #00b8d4!important;
}

.fontBold {
	font-weight: bolder;
}

.pad5dp {
	padding: 10px
}

.pad7dp {
	padding: 15px
}

.line40px {
	line-height: 40px;
}

.line45px {
	line-height: 45px;
}

.w150 {
	width: 150px!important;
}

.round {
	border-radius: 50%;
}

.add-new-element {
	border: 3px dashed #FFFFFF;
	border-radius: 10px;
}

.add-element {
	padding: 40px 0;
	height: 96px!important;
	width: 96px!important;
}

.infos {
	background-color: #ADFF95;
	color: #4E7243;
}

.important {
	background-color: #f2dede;
	color: #a94442;
}

.valid {
	display: block;
	margin: 10px auto;
	padding: 15px 10px;
	border: 1px solid #A5F28E;
	border-radius: 4px;
	background-color: #ADFF95;
	width: 390px!important;
	color: #4E7243;
	text-align: center;
}

.alert {
	display: block;
	margin: 10px auto;
	padding: 15px 10px;
	border: 1px solid #ebccd1;
	border-radius: 4px;
	background-color: #f2dede;
	width: 390px!important;
	color: #a94442;
	text-align: center;
}

.warning {
	background-color: #f2dede;
}

.tips {
	background-color: #ADFF95;
}

.hint {
	position: absolute;
	left: 2px;
	right: auto;
	bottom: 7px;
	font-size: 12px;
	line-height: 14px;
	transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
	color: grey;
}

footer {
  padding: 50px 0;
  font-size: 0.8em;
}
