<!DOCTYPE html>
<html ng-app="Angular" ng-controller="main">
  <head>
    <!-- META -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta name="description" content="{{meta_description}}">
    <meta name="author" content="{{meta_auteur}}">
    <meta name="robots" content="noindex, nofollow">
    <!-- Icones et Titre Navigateur -->
    <link rel="icon" href="/images/favicon.ico" />
    <title>{{document_titre}}</title>
    <!-- CSS -->
    <link href='/css/fontGoogle.css' rel='stylesheet' type='text/css' media="screen">
    <link rel="stylesheet" href="/bower_components/angular-material/angular-material.min.css" media="screen">
    <link rel="stylesheet" href="/css/style.css" media="screen">
    <!--[if lte IE 8]
      <script>
        document.createElement('ng-view');
        // Other custom elements
      </script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui/0.4.0/angular-ui-ieshiv.js"></script>
    <![endif]-->
  </head>
  <body ng-cloak>
    <!-- SIDENAV -->
    <md-sidenav class="md-sidenav-left" md-component-id="left" md-whiteframe="4">
      <md-toolbar ng-click="toggleLeft()" class="md-primary md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Menu">
          <md-icon md-svg-src="/images/ic_arrow_back_white_48px.svg"></md-icon>
        </md-button>
        <h1>{{nom_utilisateur}}</h1>
      </md-toolbar>
      <md-content>
        <span flex></span>
        <md-divider></md-divider>
        <md-list-item ng-click="navigateTo('accueil')"><md-icon md-svg-src="/images/ic_accueil_48px.svg"></md-icon> <p>{{menu_accueil}}</p></md-list-item>
      </md-content>
    </md-sidenav>
    <!-- TOOLBAR -->
    <md-toolbar class="md-primary">
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Sidenav" ng-click="toggleLeft()" ng-show="isUserSignIng">
          <md-icon md-svg-icon="images/ic_menu_white_48px.svg"></md-icon>
        </md-button>
        <md-button class="md-icon-button" aria-label="Sidenav" ng-click="navigate('connexion')" ng-hide="isUserSignIng">
          <md-icon md-svg-icon="images/ic_home_white_48px.svg"></md-icon>
        </md-button>
        <h2>{{title}}</h2>
        <span flex></span>
        <md-menu md-offset="0 -7" ng-show="isUserSignIng">
          <md-button aria-label="Open logout menu" class="md-icon-button" ng-click="$mdMenu.open($event)">
            <md-icon md-svg-icon="images/ic_more_vert_white_48px.svg"></md-icon>
          </md-button>
          <md-menu-content width="4">
            <md-menu-item>
              <md-button ng-click="deconnexionGoogle()"> <span md-menu-align-target class="fontPrimary">{{menu_deconnexion}}</span> </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
      </div>
    </md-toolbar>
    <!-- CONTENT -->
    <md-content ng-view></md-content>
    <!-- FOOTER -->
    <footer layout="column" layout-align="end center">
      <div>{{document_titre}} powered by <strong>{{meta_auteur}}</strong></div>
      <div><em>{{version}}</em></div>
    </footer>
    <!-- JAVASCRIPT /!\ ORDRE DE CHARGEMENT DES SCRIPTS ! /!\ -->
    <script src="/bower_components/angular/angular.js"></script>
		<script src="/bower_components/moment/moment.js"></script>
    <script src="/bower_components/angular-route/angular-route.js"></script>
    <script src="/bower_components/angular-aria/angular-aria.js"></script>
    <script src="/bower_components/angular-animate/angular-animate.js"></script>
    <script src="/bower_components/angular-material/angular-material.js"></script>
    <script src="/bower_components/svg-assets-cache.js/svg-assets-cache.js"></script>
    <script src="/bower_components/masonry/dist/masonry.pkgd.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.9.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.9.0/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.9.0/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.9.0/firebase.js"></script>
    <script src="/bower_components/angularfire/dist/angularfire.min.js"></script>
    <script>
      // Initialize Firebase
      var config = {
        apiKey: "AIzaSyDwFI5hMGuqEBTAbsiK215e-oQOOEJM2uc",
        authDomain: "todo-list-e8d0b.firebaseapp.com",
        databaseURL: "https://todo-list-e8d0b.firebaseio.com",
        projectId: "todo-list-e8d0b",
        storageBucket: "todo-list-e8d0b.appspot.com",
        messagingSenderId: "616074651309"
      };
      firebase.initializeApp(config);
      // Variables globales pour la détection de l'utilisateur
      var token;
      var userConnect;
      // Vérifie si l'utilisateur est connecté
      firebase.auth().onAuthStateChanged(function(user) {
        if (user) {
          userConnect = user;
        }
      });
    </script>
    <script src="/app/app.module.js"></script>
    <script src="/app/app.routes.js"></script>
    <script src="/app/app.directives.js"></script>
    <script src="/app/app.services.js"></script>
    <script src="/controllers/app.main.js"></script>
    <script src="/controllers/app.projets.js"></script>
  </body>
</html>
