<div layout="column" layout-gt-sm="row" layout-wrap>
  <div flex="100">
    <md-card md-theme="card">
      <md-card-actions layout="row" layout-align="start center" layout-wrap>
        <md-button ng-repeat="item in navigation" ng-click="navigate(item.lien)" ng-disabled="{{ item.current ? 'true' : 'false' }}" md-no-ink class="md-primary">{{item.nom}}</md-button>
      </md-card-actions>
    </md-card>
  </div>
  <div flex="100" layout="row" layout-align="start start" layout-wrap>
    <md-add flex="100" flex-gt-md="25" flex-gt-sm="30" hide show-gt-sm></md-add>
    <md-projet flex="100" flex-gt-md="25" flex-gt-sm="30" ng-repeat="item in mesProjets"></md-projet>
    <md-projet-partage flex="100" flex-gt-md="25" flex-gt-sm="30" ng-repeat="item in autresProjets"></md-projet-partage>
    <div flex="100" flex-gt-md="70" flex-gt-sm="65" align="center" ng-hide="pProjet" class="pad7dp">
      <md-progress-circular md-mode="indeterminate" class="md-primary md-hue-5"></md-progress-circular>
    </div>
  </div>
</div>
<md-button ng-click="" class="md-fab" aria-label="Ajouter un projet" hide-gt-sm>
  <md-tooltip md-direction="{{tooltipDir.left}}">Ajouter un projet</md-tooltip>
    <md-icon md-svg-src="images/ic_add_brown_48px.svg"></md-icon>
</md-button>
