<div align="center">
  <div flex="100" flex-gt-md="40" layout="column" layout-align="center">
    <md-card align="left" md-theme="card">
      <md-card-header>
        <md-card-header-text>
          <span class="md-headline">{{title}}</span>
        </md-card-header-text>
      </md-card-header>
      <md-divider></md-divider>
      <md-card-title>
        <md-card-title-text layout-align="center center">
          <md-button class="md-raised md-accent md-button-margin md-button-padding" ng-click="firebaseGoogle('connexion')"><strong>{{btnSignInGoogle}}</strong></md-button>
        </md-card-title-text>
      </md-card-title>
      <md-divider></md-divider>
      <!-- <md-card-title>
        <md-card-title-text layout-align="center center">
          <md-button class="md-raised md-accent md-button-margin md-button-padding" ng-click="firebaseGoogle('inscription')">{{btnSignUpGoogle}}</md-button>
        </md-card-title-text>
      </md-card-title> -->
    </md-card>
  </div>
</div>
