<md-card flex md-theme="darker" ng-click="creer($event)">
  <md-card-actions layout="column" align="center">
    <div class="add-new-element">
      <md-icon md-svg-src="images/ic_add_48px.svg" class="add-element"></md-icon>
    </div>
    <h3 class="fontWhite">{{action_ajouter}}</h3>
  </md-card-actions>
</md-card>
