<md-card flex md-theme="card">
  <md-card-header>
    <div layout="column">
      <span class="md-headline">{{item.nom}}</span>
      <span class="fontBlack font08em"><em>{{date_echeance}}<strong>{{item.echeance}}</strong></em></span>
    </div>
    <span flex></span>
    <div>
      <md-menu md-offset="0 7">
        <md-button aria-label="Open logout menu" class="md-icon-button" ng-click="$mdMenu.open($event)">
          <md-icon md-svg-icon="images/ic_more_vert_48px.svg"></md-icon>
        </md-button>
        <md-menu-content width="4">
          <md-menu-item>
            <md-button ng-click="editer($event, item)" ng-disabled="item.partage==true"><span md-menu-align-target>{{action_editer}}</span></md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button ng-click="supprimer(item.id)" ng-disabled="item.partage==true"><span md-menu-align-target>{{action_supprimer}}</span></md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
    </div>
  </md-card-header>
  <div align="center" ng-hide="pTache">
    <md-progress-circular md-mode="indeterminate" class="md-primary md-hue-1"></md-progress-circular>
  </div>
  <md-list ng-init="tachesProjets(item.id)">
    <md-list-item class="list-content noright" ng-repeat="tache in mesTaches[item.id]">
      <md-tooltip md-direction="bottom">A faire avant le : {{tache.echeance}}</md-tooltip>
      <md-checkbox ng-if="tache.status==true" class="md-accent" ng-model="tache.status" aria-label="tache.nom" ng-disabled="tache.status"></md-checkbox>
      <span flex><strong>{{tache.nom}}</strong></span>
      <md-icon ng-if="tache.status==false" md-svg-src="images/ic_check_48px.svg" ng-click="completer($event, tache.id)" class="card-icon"><md-tooltip md-direction="top">Compléter</md-tooltip></md-icon>
      <md-icon ng-if="tache.status==false" md-svg-src="images/ic_mode_edit_48px.svg" ng-click="editerTache($event, tache, item.partage)" class="card-icon">
        <md-tooltip md-direction="top">Éditer</md-tooltip></md-icon>
      <md-icon ng-if="tache.status==false" ng-hide="item.partage==true" md-svg-src="images/ic_delete_forever_48px.svg" ng-click="supprimerTache($event, tache.id)" class="card-icon">
        <md-tooltip md-direction="top">Supprimer</md-tooltip></md-icon>
    </md-list-item>
  </md-list>
  <md-card-actions layout="row" layout-align="space-between center">
    <div flex="25" layout="row" layout-align="start center">
      <md-icon ng-if="!item.partage" md-svg-src="/images/ic_group_add_48px.svg" class="card-icon" ng-click="collaborateurs($event, item.id, item.nom)"><md-tooltip md-direction="top">{{tooltip_collaborateurs}}</md-tooltip></md-icon>
    </div>
    <div flex="70" layout="column" layout-gt-md="row" layout-align="end center">
      <md-button class="md-primary md-button-margin" ng-click="creerTache($event, item.id)">{{action_ajouter_tache}}</md-button>
    </div>
  </md-card-actions>
</md-card>
