<md-dialog aria-label="Créer un projet" md-theme="default">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>{{titre_page}}</h2>
			<span flex></span>
			<md-button class="md-icon-button" ng-click="cancel()">
				<md-icon md-svg-src="images/ic_close_white_48px.svg" aria-label="Close dialog"></md-icon>
			</md-button>
		</div>
	</md-toolbar>
	<md-dialog-content>
	  <div align="center" ng-hide="pCollaborateur" class="pad7dp">
	    <md-progress-circular md-mode="indeterminate" class="md-primary md-hue-5"></md-progress-circular>
	  </div>
	  <md-list layout-wrap flex="100">
	    <md-list-item class="list-content" ng-repeat="item in mesCollaborateurs">
	      <md-checkbox class="md-accent ng-checkbox" ng-model="item.projet" ng-click="toggle(item.id, item.nom, item.projet)" aria-label="item.nom"></md-checkbox>
	      <p><strong>{{item.nom}}</strong></p>
	    </md-list-item>
	  </md-list>
	</md-dialog-content>
	<md-dialog-actions layout="row" layout-align="center center">
		<span><strong>{{infos_ajouter}}</strong></span>
	</md-dialog-actions>
</md-dialog>
