<md-dialog aria-label="Créer un projet" md-theme="default">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>{{titre_page}}</h2>
			<span flex></span>
			<md-button class="md-icon-button" ng-click="cancel()">
				<md-icon md-svg-src="images/ic_close_white_48px.svg" aria-label="Close dialog"></md-icon>
			</md-button>
		</div>
	</md-toolbar>
  <form name="creerProjet" ng-submit="sauvegarder()">
  	<md-dialog-content layout-margin>
			<div class="pad7dp">
				<md-input-container class="md-block">
					<label>Nom du projet</label>
					<input type="text" ng-model="projet.nom" required>
				</md-input-container>
				<span class="datePickerSelector">Date d'échéance</span>
				<md-datepicker ng-model="projet.date" md-placeholder="Choisissez une date" required md-open-on-focus></md-datepicker>
			</div>
  	</md-dialog-content>
  	<md-divider ng-show="error"></md-divider>
  	<div class="alert" role="alert" ng-show="error">{{error}}</div>
  	<md-dialog-actions layout="row" layout-align="space-between center">
			<md-button ng-if="edition" class="md-raised md-warn md-button-margin" ng-click="supprimer()">{{action_supprimer}}</md-button>
			<md-button ng-if="!edition" class="md-primary md-button-margin" ng-click="cancel()">{{action_retour}}</md-button>
  		<md-button class="md-raised md-primary md-button-margin" type="submit">{{action_enregistrer}}</md-button>
  	</md-dialog-actions>
  </form>
</md-dialog>
