<md-dialog aria-label="Créer une Tâche" md-theme="default">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>{{titre_page}}</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon md-svg-src="images/ic_close_white_48px.svg" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <form name="creerTache" ng-submit="sauvegarder()">
        <md-dialog-content layout-margin>
            <div class="pad7dp">
                <md-input-container class="md-block">
                    <label>Nom de la tâche</label>
                    <input type="text" ng-model="tache.nom" required>
                </md-input-container>
                <span class="datePickerSelector">Date d'échéance</span>
                <md-datepicker ng-model="tache.echeance" md-placeholder="Choisissez une date" required md-open-on-focus></md-datepicker>
                <md-input-container class="md-block">
                    <label>Description de la tâche</label>
                    <textarea ng-model="tache.description" md-maxlength="255" rows="5" md-select-on-focus></textarea>
                </md-input-container>
            </div>
        </md-dialog-content>
        <md-divider ng-show="error"></md-divider>
        <div class="alert" role="alert" ng-show="error">{{error}}</div>
        <md-dialog-actions layout="row" layout-align="space-between center">
            <md-button ng-if="edition" ng-hide="partage==true" class="md-raised md-button-margin md-warn" ng-click="supprimer($event)">{{action_supprimer}}</md-button>
            <md-button ng-if="!edition||partage==true" class="md-primary md-button-margin" ng-click="cancel()">{{action_retour}}</md-button>
            <md-button class="md-raised md-primary md-button-margin" type="submit">{{action_enregistrer}}</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
